<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.LlmSpring.user.UserMapper">
    <insert id="save" parameterType="UserVO">
        INSERT INTO User(
            user_id, password_hash, name, email, reg_date, file_path, deleted_at,
            github_id, github_token
        ) VALUES (
            #{userId}, #{passwordHash}, #{name}, #{email}, NOW(), #{filePath}, #{deletedAt},
            #{githubId}, #{githubToken}
        )
    </insert>

    <select id="existsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM User WHERE email = #{email})
    </select>

    <select id="existsByUserId" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM User WHERE user_id = #{userId})
    </select>

    <select id="getHashPw" parameterType="string" resultType="string">
        SELECT password_hash FROM User WHERE user_id = #{userId}
    </select>

    <select id="getUserName" parameterType="string" resultType="string">
        SELECT name FROM User WHERE user_id = #{userId}
    </select>

    <!-- 1. 본인과 삭제된 유저를 제외한 나머지 유저 검색   -->
    <select id="searchUsers" resultType="com.example.LlmSpring.user.UserVO">
        SELECT
            user_id,
            name,
            email
        FROM User
        WHERE ( /* 1. ID 또는 이름에 검색어가 포함된 경우 (Partial Match) */
            user_id LIKE CONCAT('%', #{keyword}, '%')
                OR
            name LIKE CONCAT('%', #{keyword}, '%'))
          AND user_id != #{myUserId} /* 2. 도메인 규칙: 검색 결과에서 본인은 제외 */
          AND deleted_at IS NULL /* 3. 도메인 규칙: 탈퇴하지 않은(deleted_at이 NULL인) 유저만 검색 */
        ORDER BY name ASC
    </select>

</mapper>